# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of ReactFlux systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ reactflux_identifier }}.service"
  register: reactflux_service_stat

- name: Uninstall ReactFlux systemd services and files
  when: reactflux_service_stat.stat.exists | bool
  block:
    - name: Ensure ReactFlux systemd service is stopped
      ansible.builtin.service:
        name: "{{ reactflux_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure ReactFlux systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ reactflux_identifier }}.service"
        state: absent

    - name: Ensure ReactFlux container network does not exist
      when: reactflux_container_network_deletion_enabled
      block:
        - name: Ensure ReactFlux container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ reactflux_container_network }}"
            state: absent
          register: reactflux_network_deletion_result

        - name: Ensure ReactFlux container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ reactflux_container_network }}
          register: reactflux_network_deletion_result
          changed_when: reactflux_container_network in reactflux_network_deletion_result.stdout

    - name: Ensure ReactFlux path does not exist
      ansible.builtin.file:
        path: "{{ reactflux_base_path }}"
        state: absent
