{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if reactflux_container_labels_traefik_enabled %}
traefik.enable=true

{% if reactflux_container_labels_traefik_docker_network %}
traefik.docker.network={{ reactflux_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if reactflux_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ reactflux_identifier }}-slashless-redirect.redirectregex.regex=({{ reactflux_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ reactflux_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [reactflux_identifier + '-slashless-redirect'] %}
{% endif %}

{% if reactflux_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ reactflux_identifier }}-strip-prefix.stripprefix.prefixes={{ reactflux_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [reactflux_identifier + '-strip-prefix'] %}
{% endif %}

{% if reactflux_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in reactflux_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ reactflux_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [reactflux_identifier + '-add-request-headers'] %}
{% endif %}

{% if reactflux_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in reactflux_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ reactflux_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [reactflux_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ reactflux_identifier }}.rule={{ reactflux_container_labels_traefik_rule }}
{% if reactflux_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ reactflux_identifier }}.priority={{ reactflux_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ reactflux_identifier }}.service={{ reactflux_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ reactflux_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ reactflux_identifier }}.entrypoints={{ reactflux_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ reactflux_identifier }}.tls={{ reactflux_container_labels_traefik_tls | to_json }}
{% if reactflux_container_labels_traefik_tls %}
traefik.http.routers.{{ reactflux_identifier }}.tls.certResolver={{ reactflux_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ reactflux_identifier }}.loadbalancer.server.port={{ reactflux_container_http_port }}
{% endif %}

{{ reactflux_container_labels_additional_labels }}
